#undermenu-block a {
    cursor: pointer;
    width: auto;
    float: left;
    padding: 10px;
    display: block;
    background: #fff;
    color: #7bbdf5;
    border: 2px solid #7bbdf5;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;

    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

#undermenu-block a:hover {
    color: #e50049;
    border-color: #e50049;
}

#undermenu-block a#new-purchase,
#undermenu-block a#new-waiting,
#undermenu-block form .fullwidth {
    color: #0e74bc;
    border-color: #0e74bc;
    background: none;
}

#undermenu-block a#new-purchase:hover,
#undermenu-block a#new-waiting:hover,
#undermenu-block form .fullwidth:hover {
    background: #0e74bc;
    color: #fff;
}

#undermenu-block form {
    float: left;
    /*padding: 10px;*/
    display: block;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    overflow: hidden;
    background: #fff;
}

#undermenu-block form input[type=text] {
    border: none;
    padding: 10px 0 10px 10px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    outline: none;
    display: block;
    float: left;
}

#undermenu-block form input[type=submit] {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
    font-weight: normal;
}

#undermenu-block form input.right-pos[type=submit] {
    float: left;
    height: 39px;
    width: 39px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

#undermenu-block form input.fullwidth[type=submit] {
    height: auto;
    padding: 10px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*global-add-to-prepayment::*/
/*global-add-to-prepayment::*/
/*global-add-to-prepayment::*/
#global-add-to-prepayment {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#global-add-to-prepayment input.fullwidth[type=submit] {
    border: 2px solid #0e74bc;
    cursor: pointer;
}

#global-add-to-prepayment:hover input.fullwidth[type=submit] {
    background-color: #0e74bc;
}

/*global-phone-search::*/
/*global-phone-search::*/
/*global-phone-search::*/
#undermenu-block form#global-phone-search {
    border: 2px solid #0e74bc;
}

#undermenu-block form#global-phone-search input[type=text] {
    outline: none;
    width: 110px;
    color: #0e74bc;
}

#undermenu-block form#global-phone-search input[type=submit] {
    background: #fff url(images/lupacolor.png) 50% 50% no-repeat;
    -webkit-background-size: 70%;
    background-size: 70%;
}

#undermenu-block form#global-phone-search:hover input[type=submit] {
    background: #0e74bc url(images/lupawhite.png) 50% 50% no-repeat;
    -webkit-background-size: 70%;
    background-size: 70%;
}

#undermenu-block form#global-phone-search:hover input[type=submit]:hover {
    -webkit-background-size: 85%;
    background-size: 85%;
    cursor: pointer;
}

/*invoice-pdf-looking::*/
/*invoice-pdf-looking::*/
/*invoice-pdf-looking::*/
#undermenu-block form#invoice-pdf-looking {
    border: 2px solid #bc0e0e;
}

#undermenu-block form#invoice-pdf-looking input[type=text] {
    outline: none;
    width: 110px;
    color: #bc0e0e;
}

#undermenu-block form#invoice-pdf-looking input[type=submit] {
    background: #fff url(images/pdfcolor.png) 50% 50% no-repeat;
    -webkit-background-size: 70%;
    background-size: 70%;
}

#undermenu-block form#invoice-pdf-looking:hover input[type=submit] {
    background: #bc0e0e url(images/pdfwhite.png) 50% 50% no-repeat;
    -webkit-background-size: 70%;
    background-size: 70%;
}

#undermenu-block form#invoice-pdf-looking:hover input[type=submit]:hover {
    -webkit-background-size: 85%;
    background-size: 85%;
    cursor: pointer;
}

#undermenu-block a#shchetchik {
    float: right;
}

.start {
    width: 255px;
    height: 30px;
    background: #13D11A;
    background: -moz-linear-gradient(top, #00FF32 0%, #15D93B 30%, #0CCA39 60%, #0A7E17 100%);
    background: -webkit-linear-gradient(top, #00FF32 0%, #15D93B 30%, #0CCA39 60%, #0A7E17 100%);
    background: -o-linear-gradient(top, #00FF32 0%, #15D93B 30%, #0CCA39 60%, #0A7E17 100%);
    background: -ms-linear-gradient(top, #00FF32 0%, #15D93B 30%, #0CCA39 60%, #0A7E17 100%);
    background: linear-gradient(top, #00FF32 0%, #15D93B 30%, #0CCA39 60%, #0A7E17 100%);
    border: 0;
    box-shadow: 0px 4px 15px -6px;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}

.start:hover {
    box-shadow: 0px 0px 0px 0px;
}

#work-day .continue {
    width: 255px;
    height: 30px;
    border: 0;
    box-shadow: 0px 4px 15px -6px;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 18px;
    background: #F3E913;
    background: -moz-linear-gradient(top, #F3E913 0%, #E4DA13 30%, #D3C90B 60%, #C7BD0B 100%);
    background: -webkit-linear-gradient(top, #F3E913 0%, #E4DA13 30%, #D3C90B 60%, #C7BD0B 100%);
    background: -o-linear-gradient(top, #F3E913 0%, #E4DA13 30%, #D3C90B 60%, #C7BD0B 100%);
    background: -ms-linear-gradient(top, #F3E913 0%, #E4DA13 30%, #D3C90B 60%, #C7BD0B 100%);
    background: linear-gradient(top, #F3E913 0%, #E4DA13 30%, #D3C90B 60%, #C7BD0B 100%);
    color: #fff;
    border-radius: 5px;
}

#work-day .continue:hover {
    box-shadow: 0px 0px 0px 0px;
    color: #fff;
    background: #444;
}

.stop {
    width: 255px;
    height: 30px;
    border: 0;
    box-shadow: 0px 4px 15px -6px;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}

.stop:hover {
    box-shadow: 0px 0px 0px 0px;
    color: #fff;
    background: #444;
}

.start-work {
    margin: 0px 10px 0 0;
    float: left;

}

.end-work {
    margin: 0px 0 0 10px;
    float: left;
}

.work-day {
    float: right;
}

.clearfix:after {
    content: '';
    display: table;
    height: 1px;
    clear: both;
    visibility: hidden;
}

.auth-block-auth {
    width: 400px;
    float: left;
}

.timer {
    text-align: center;
    font-size: 18px;
    margin-right: 10px;
    color: #555;
}

.work-table tr:hover td {
    background: #d6e9f8 !important;
    cursor: pointer;
}

.time-number {
    float: left;
    width: 24px;
}

.time-number p {
    display: inline-block;
    font-size: 14px;
}

.work-day p {
    display: inline;
    margin: 0 10px 0 10px;
    font-size: 14px;
}

.costs {
    width: 200px;
    margin-top: 20px;
    display: none;
}

.costs input {
    margin: 10px 0 10px 0;
}

.inputs {
    margin: 30px 0 0 0;
}

.costs .inputs p span {
    color: red;
}

.show-cost {
    margin-top: 20px;
    cursor: pointer;
}

.show-cost img {
    width: 20px;
    height: 20px;
    float: left;
}

.costs textarea {
    width: 200px;
    height: 75px;
    resize: none;
}

.show-cost p {
    font-size: 12px;
    font-weight: 800;
    margin-top: 2.5px;
    float: left;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1px;
}

.container {
    position: relative;
}

.close {
    position: absolute;
    right: -4px;
    width: 25px;
    height: 25px;
    background: url("/images/up.png") no-repeat;
    top: -15px;
    display: none;
}

.add-libery-cost {
    cursor: pointer;
}

h3 span {
    color: red;
}

.save-cost {
    margin-left: 60px !important
}

.add-cost h3 {
    text-align: center;
}

.add-cost textarea, .add-cost input {
    margin-left: 20px;
}

.popup {
    margin-left: 15px;
    background: #e0e0e0;
    width: 250px;
    position: relative;
}

.popup h3 {
    font-size: 12px;
    margin: 5px 0 5px 0;
}

.col-5, .col-15, .col-25, .col-35, .col-45, .col-55, .col-65, .col-75, .col-85, .col-95,
.col-10, .col-20, .col-30, .col-40, .col-50, .col-60, .col-70, .col-80, .col-90, .col-100 {
    float: left;
}

.col-5 {
    width: 5%;
}

.col-10 {
    width: 10%;
}

.col-15 {
    width: 15%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-35 {
    width: 35%;
}

.col-40 {
    width: 40%;
}

.col-45 {
    width: 45%;
}

.col-50 {
    width: 50%;
}

.col-55 {
    width: 55%;
}

.col-60 {
    width: 60%;
}

.col-65 {
    width: 65%;
}

.col-70 {
    width: 70%;
}

.col-75 {
    width: 75%;
}

.col-80 {
    width: 80%;
}

.col-85 {
    width: 85%;
}

.col-90 {
    width: 90%;
}

.col-95 {
    width: 95%;
}

.col-100 {
    width: 100%;
}

.col-3, .col-6 {
    float: left;
}

.col-3 {
    width: 33.3333%;
}

.col-6 {
    width: 66.6666%;
}

.col-offset-3 {
    margin-left: 33.3333%;
}

.col-offset-6 {
    margin-left: 66.6666%;
}

.col-offset-5 {
    margin-left: 5%;
}

.col-offset-10 {
    margin-left: 10%;
}

.col-offset-15 {
    margin-left: 15%;
}

.col-offset-20 {
    margin-left: 20%;
}

.col-offset-25 {
    margin-left: 25%;
}

.col-offset-30 {
    margin-left: 30%;
}

.col-offset-35 {
    margin-left: 35%;
}

.col-offset-40 {
    margin-left: 40%;
}

.col-offset-45 {
    margin-left: 45%;
}

.col-offset-50 {
    margin-left: 50%;
}

.col-offset-55 {
    margin-left: 55%;
}

.col-offset-60 {
    margin-left: 60%;
}

.col-offset-65 {
    margin-left: 65%;
}

.col-offset-70 {
    margin-left: 70%;
}

.col-offset-75 {
    margin-left: 75%;
}

.col-offset-80 {
    margin-left: 80%;
}

.col-offset-85 {
    margin-left: 85%;
}

.col-offset-90 {
    margin-left: 90%;
}

.col-offset-95 {
    margin-left: 95%;
}

.row {
    clear: both;
    padding: 4px 0;
}

.text-to-left {
    text-align: left;
}

.text-to-center {
    text-align: center;
}

.text-to-right {
    text-align: right;
}

.postindex {
    font-family: postindex
}