.bx_catalog_text {
    overflow: hidden;
    padding: 15px 10px;
}

.bx_catalog_text .bx_catalog_text_ul {
    margin: 0;
    padding: 0;
}

.bx_catalog_text .bx_catalog_text_ul li {
    list-style: none;
    float: left;
}

.bx_catalog_text .bx_catalog_text_title {
    margin: 0 0 7px;
    padding: 0;
    position: relative;
}

.bx_catalog_text .bx_catalog_text_title a {
    white-space: nowrap;
    font-size: 14px;
    line-height: 15px;
    color: #4c7da6;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid #4c7da6;
    font-weight: bold;

    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}

.bx_catalog_text .bx_catalog_text_title:last-child a {
    border-right: none;
}

.bx_catalog_text .bx_catalog_text_title.amount a {
    color: crimson;
    border-right-color: crimson;
}

.bx_catalog_text .bx_catalog_text_title div {
    position: absolute;
    z-index: 1;
    top: -10px;
    right: -11px;
    background: #fff;
    font-size: 13px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 20px;
    width: 20px;
    text-align: center;

    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    transition: all ease 500ms;
}

.bx_catalog_text .bx_catalog_text_title.amount div {
    border: 2px solid crimson;
    color: crimson;
}

.bx_catalog_text .bx_catalog_text_title.amount div.ellipse {
    width: 30px;
    right: -16px;
    font-size: 10px;
}

.bx_catalog_text .bx_catalog_text_title.selected a {
    color: #fff;
    background: #4c7da6;
}

.bx_catalog_text .bx_catalog_text_title.selected.amount a {
    color: #fff;
    background: crimson;
    border-right-color: crimson;
}

.bx_catalog_text .bx_catalog_text_title.selected.amount span {
    color: #fff;
    background: crimson;
    border-color: #fff;
}

.bx_catalog_text .bx_catalog_text_title:hover a,
.bx_catalog_text .bx_catalog_text_title.selected.amount:hover a {
    color: #000;
    background-color: #d5e6f5;
    border-right-color: #000;
}

.bx_catalog_text .bx_catalog_text_title:hover span,
.bx_catalog_text .bx_catalog_text_title.selected.amount:hover span {
    color: #000;
    background-color: #d5e6f5;
    border-color: #000;

}

a.submenu {
    white-space: nowrap;
    font-size: 14px;
    line-height: 35px;
    color: #4c7da6;
    text-decoration: none;
    padding: 5px 10px;
    margin: 7px 1px 7px 0;
    border: 1px solid #4c7da6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a.submenu:last-child {
    margin-right: 0;
}

a.submenu:hover {
    background: #4c7da6;
    color: #fff;
}

a.submenu.active {
    font-weight: bold
}